body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.container { 
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px
}
.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

/* Botões 
------------*/
.btn { 
	display: inline-block;
	padding: 11px 60px;
	border-radius: 30px;
	background: white;
	color: black;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	-webkit-box-shadow: 0 3px 1rem rgba(0,0,0, .2);
	box-shadow: 0 3px 1rem rgba(0,0,0, .2);
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s
}
.btn:hover {
	-webkit-box-shadow: 0 0 .5rem rgba(0,0,0, .1);
	box-shadow: 0 0 .5rem rgba(0,0,0, .1)
}
.btn-pink {
	background: hsl(322, 100%, 66%);
	color: white;
	padding: 14px 60px;
	margin: 15px 0 40px 0;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s
}
.btn-pink:hover {
	background: hsl(322, 100%, 75%);
	color: white
}

/* Tipografia
-----------------*/
h1, h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	margin: 0
}
p {
	line-height: 1.5em
}
a {
	text-decoration: none
}

/* Cabeçalho
-------------------*/
header {
	padding: 20px 0;
	background: hsl(193, 100%, 96%) url(../img/bg-hero-desktop.svg) no-repeat top left;
	background-size: cover
}
header .row {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.header-content {
	padding: 60px 0
}
.header-content div {
	padding-right: 50px;
	width: 45%
}
.header-content img {
	width: 55%
}

h1 {
	font-size: 2.5em
}
@media (max-width: 900px) {
	header {
		height: auto
	}
	.header-content {
		padding: 40px 15px
	}
	.header-content div, .header-content img {
		width: 100%;
		text-align: center;
		padding: 0
	}
	h1 {
		font-size: 1.6em
	}
}
@media (max-width: 500px) {
	nav .row {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center
	}
	nav .btn {
		display: none
	}
}

/* Apresentações
------------------------*/
.container-ap {
	padding: 100px 15px
}
.apresentacao {
	margin: 40px 0;
	padding: 50px 100px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-shadow: 0 0 1rem rgba(0,0,0, .1);
	box-shadow: 0 0 1rem rgba(0,0,0, .1);
	border-radius: 15px
}
.apresentacao div {
	/* padding: 0 60px; */
	width: 55%;
}
.apresentacao img {
	width: 35%
}
.apresentacao p {
	color: hsl(208, 11%, 55%)
}
@media (max-width: 800px) {
	.container-ap {
		padding: 30px 15px
	}
	.apresentacao {
		padding: 40px 15px 0 15px;
		text-align: center
	}
	.apresentacao div {
		margin: 40px 15px 15px 15px;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		width: 100%
	}
	.apresentacao img {
		width: 100%;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1
	}
}

/* Start Comunidade
---------------------*/
.start-comunidade {
	background: white;
	color: black;
	width: 90%;
	max-width: 700px;
	margin: 0 auto -70px auto;
	padding: 50px;
	border-radius: 15px;
	text-align: center;
	-webkit-box-shadow: 0 0 1rem rgba(0,0,0, .1);
	box-shadow: 0 0 1rem rgba(0,0,0, .1);
	z-index: 2;
	position: relative
}
.start-comunidade h2 {
	font-size: 1.9em
}
.start-comunidade .btn {
	margin: 20px 0 0 0;
	padding: 19px 70px;
	font-size: 1em
}

/* Rodapé
-------------*/
footer {
	background: hsl(192, 100%, 9%);
	color: white;
	clear: both;
	z-index: 1;
	padding: 120px 0 0px 0
}
.logo-footer {
	margin: 15px
}
.col-4 { 
	width: 40%;
	padding: 0 20px
}
.col-2 {
	width: 20%;
	padding: 0 20px
}
.media {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 20px 0
}
.media-body {
	margin-left: 15px
}
footer ul, footer li {
	padding: 0;
	margin: 0;
	list-style-type: none
}
footer a {
	color: white;
	display: inline-block;
	margin-top: 10px
}
footer a:hover {
	color: #d5d5d5
}
.social a {
	color: white;
	margin-left: 8px;
	border: 1px solid white;
	border-radius: 30px;
	font-size: 14px;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s
}
.social a:hover {
	background: white;
	color: #444
}
.copyright {
	text-align: right;
	font-size: 11px;
	opacity: .8
}
@media (max-width: 800px) {
	footer .row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.col-4, .col-2 {
		width: 100%
	}
	.social {
		text-align: center;
		margin: 40px 0 10px 0
	}
	.copyright {
		text-align: center
	}
}
